.app-password-input {
  @extend .app-input;

  &__label {
    @extend .app-input__label;
  }

  &__input {
    @extend .app-input__input;
  }

  &__container {
    position: relative;
  }

  &__button {
    background: none;
    border: 1px solid $blue;
    border-radius: 20px;
    color: $blue;
    position: absolute;
    top: 23px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
  }

  &__message {
    @extend .app-input__message;
  }
}